# Linting and formatting
black==20.8b1
flake8==3.8.3
isort==5.7.0
mypy==0.800

# Testing
pytest==6.2.0
pytest-asyncio==0.14.0
pytest-cases==3.4.6
tox==3.22.0

# Pushing to PyPi
twine==3.3.0

# proto
grpcio-tools==1.33.2
