channels:
- defaults
dependencies:
- _libgcc_mutex
- ca-certificates
- certifi
- ld_impl_linux-64
- libffi
- libgcc-ng
- libstdcxx-ng
- ncurses
- openssl
- pip
- readline
- setuptools
- sqlite
- tk
- wheel
- xz
- zlib
name: mlops-test
