apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  annotations:
    seldon.io/tempo-description: ''
    seldon.io/tempo-model: '{"model_details": {"name": "income-explainer", "local_folder":
      "/home/clive/work/mlops/fork-tempo/docs/examples/explainer/artifacts/explainer",
      "uri": "s3://tempo/explainer/pipeline", "platform": "tempo", "inputs": {"args":
      [{"ty": "numpy.ndarray", "name": "payload"}, {"ty": "builtins.dict", "name":
      "parameters"}]}, "outputs": {"args": [{"ty": "builtins.str", "name": null}]},
      "description": ""}, "protocol": "tempo.kfserving.protocol.KFServingV2Protocol",
      "runtime_options": {"runtime": "tempo.seldon.SeldonKubernetesRuntime", "docker_options":
      {"runtime": "tempo.seldon.SeldonDockerRuntime"}, "k8s_options": {"runtime":
      "tempo.seldon.SeldonKubernetesRuntime", "replicas": 1, "minReplicas": null,
      "maxReplicas": null, "authSecretName": "minio-secret", "serviceAccountName":
      null, "namespace": "production"}, "ingress_options": {"ingress": "tempo.ingress.istio.IstioIngress",
      "ssl": false, "verify_ssl": true}}}'
  labels:
    seldon.io/tempo: 'true'
  name: income-explainer
  namespace: production
spec:
  predictors:
  - componentSpecs:
    - spec:
        containers:
        - args: []
          env:
          - name: MLSERVER_HTTP_PORT
            value: '9000'
          - name: MLSERVER_GRPC_PORT
            value: '9500'
          - name: MLSERVER_MODEL_IMPLEMENTATION
            value: tempo.mlserver.InferenceRuntime
          - name: MLSERVER_MODEL_NAME
            value: income-explainer
          - name: MLSERVER_MODEL_URI
            value: /mnt/models
          - name: TEMPO_RUNTIME_OPTIONS
            value: '{"runtime": "tempo.seldon.SeldonKubernetesRuntime", "docker_options":
              {"runtime": "tempo.seldon.SeldonDockerRuntime"}, "k8s_options": {"runtime":
              "tempo.seldon.SeldonKubernetesRuntime", "replicas": 1, "minReplicas":
              null, "maxReplicas": null, "authSecretName": "minio-secret", "serviceAccountName":
              null, "namespace": "production"}, "ingress_options": {"ingress": "tempo.ingress.istio.IstioIngress",
              "ssl": false, "verify_ssl": true}}'
          image: seldonio/mlserver:0.3.1.dev7
          name: income-explainer
    graph:
      envSecretRefName: minio-secret
      implementation: TEMPO_SERVER
      modelUri: s3://tempo/explainer/pipeline
      name: income-explainer
      serviceAccountName: tempo-pipeline
      type: MODEL
    name: default
    replicas: 1
  protocol: kfserving

---
apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  annotations:
    seldon.io/tempo-description: ''
    seldon.io/tempo-model: '{"model_details": {"name": "income-sklearn", "local_folder":
      "/home/clive/work/mlops/fork-tempo/docs/examples/explainer/artifacts/model",
      "uri": "gs://seldon-models/test/income/model", "platform": "sklearn", "inputs":
      {"args": [{"ty": "numpy.ndarray", "name": null}]}, "outputs": {"args": [{"ty":
      "numpy.ndarray", "name": null}]}, "description": ""}, "protocol": "tempo.kfserving.protocol.KFServingV2Protocol",
      "runtime_options": {"runtime": "tempo.seldon.SeldonKubernetesRuntime", "docker_options":
      {"runtime": "tempo.seldon.SeldonDockerRuntime"}, "k8s_options": {"runtime":
      "tempo.seldon.SeldonKubernetesRuntime", "replicas": 1, "minReplicas": null,
      "maxReplicas": null, "authSecretName": "minio-secret", "serviceAccountName":
      null, "namespace": "production"}, "ingress_options": {"ingress": "tempo.ingress.istio.IstioIngress",
      "ssl": false, "verify_ssl": true}}}'
  labels:
    seldon.io/tempo: 'true'
  name: income-sklearn
  namespace: production
spec:
  predictors:
  - graph:
      envSecretRefName: minio-secret
      implementation: SKLEARN_SERVER
      modelUri: gs://seldon-models/test/income/model
      name: income-sklearn
      type: MODEL
    name: default
    replicas: 1
  protocol: kfserving

---
