apiVersion: v1
kind: Secret
metadata:
  name: "{{ minio_secret_name }}"
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "{{ minio_access_key }}"
  AWS_SECRET_ACCESS_KEY: "{{ minio_secret_key }}"
  AWS_ENDPOINT_URL: "http://minio.{{ minio_namespace }}.svc.cluster.local:9000"
  USE_SSL: "false"
