---
- name: knative
  hosts: localhost
  roles:
    - role: seldonio.k8s.kind
      when: skip_kind is not defined
    - role: seldonio.k8s.metallb
      when: skip_kind is not defined
    - seldonio.k8s.istio
    - seldonio.k8s.knative_serving
    - seldonio.k8s.minio
    - seldonio.k8s.certmanager
    - seldonio.k8s.kfserving
  vars:
    kind_cluster_name: kfserving
    kind_image_version: kindest/node:v1.18.15
    kind_config_file: files/kind_config.yaml
    kind_kubectl_default_namespace: seldon

    istio_version: 1.7.6

    # Verify Install does not work with 1.7.x on k8s 1.18.x
    istio_verify_install: false

    minio_service_type: LoadBalancer
